.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 12px 24px;
    border-bottom: 2px solid #282318;
    font-family: 'Roboto', sans-serif;
}

.nav_links a.active{
    border-bottom: 2px solid #282318;
}

.nav_links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav_links a {
    text-decoration: none;
    color: #282318;
    font-weight: 600;
}

.nav_links a:hover {
    text-decoration: underline;
}

.login_btn {
    background-color: #282318;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.2s ease;
}

.login_btn:hover {
    background-color: #444;
}
