
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /~w62q346/finalproject/drink-sync/client/build/

  # Don’t rewrite requests for existing files or directories
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Rewrite everything else to index.html
  RewriteRule ^ index.html [L]
</IfModule>